version: '2'

services:

  mysql-container:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: helloworld
      MYSQL_DATABASE: coredb 
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d

  php-container:
    build:
      context: C:\Users\Admin\dockerfiles\
      dockerfile: Dockerfile
    container_name: php-container
    expose:
      - "9000"
    volumes:
      - ./index.php:/var/www/index.php

  nginx-container:
    image: nginx:latest
    container_name: nginx-container
    ports:
     - "80:80"
    expose:
      - "9000"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./index.php:/var/www/index.php
      - ./nginx.conf:/etc/nginx/nginx.conf
    links:
      - php-container
